<!doctype html>
<html ng-app="peopleApp" ng-cloak>
<head>
  <title>People Server</title>

  <script src="../servervar.js"></script>
  <link href="../images/favicon.ico" rel="icon" type="image/x-icon"/>
  <script src="../node_modules/angular/angular.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

  <script src="./javascript/ui.js" type="text/javascript"></script>
  <script src="./javascript/util.js" type="text/javascript"></script>

  <link rel="stylesheet" media="screen" href="../stylesheets/style.css"/>
</head>
<body>
<div class="container-fluid" id="content" ng-controller="PeopleSearchCtrl">
  <div class="logo">
    <img src="../images/people.png">
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1>People Server, v1</h1>
    </div>

    <div class="row">
    </div>

    <div id="search" class="row">
      <div class="col-md-6">
        <form>
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" size="50" class="form-control"
                 placeholder="Enter the first part of a last name"
                 ng-model="searchPrefix"/>
          <button type="button" class="btn btn-primary"
                  ng-click="checkSearch()">Search</button>
        </form>
      </div>
    </div>

    <div id="search-results">
      <div class="row">
        <div class="col-md-6">
          <div ng-show="people.length === 0">
            No search results.
          </div>

          <div ng-show="people.length > 0">
            {{ people.length }} matching people
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table" ng-show="people.length > 0">
            <thead>
            <tr>
              <th>
                <a href="" ng-click="toggleSortOrder('last')">Name</a>
                <span ng-show="!reverse && (predicate === 'last')">&#x25b2;</span>
                <span ng-show="reverse && (predicate === 'last')">&#x25bc;</span>
              </th>

              <th>
                <a href="" ng-click="toggleSortOrder('ssn')">SSN</a>
                <span ng-show="!reverse && (predicate === 'ssn')">&#x25b2;</span>
                <span ng-show="reverse && (predicate === 'ssn')">&#x25bc;</span>
              </th>

              <th>
                <a href="" ng-click="toggleSortOrder('birthDate')">Birth Date</a>
                <span ng-show="!reverse && (predicate === 'birthDate')">&#x25b2;</span>
                <span ng-show="reverse && (predicate === 'birthDate')">&#x25bc;</span>
              </th>

              <th>
                <a href="" ng-click="toggleSortOrder('gender')">Gender</a>
                <span ng-show="!reverse && (predicate === 'gender')">&#x25b2;</span>
                <span ng-show="reverse && (predicate === 'gender')">&#x25bc;</span>
              </th>
            </tr>
  </thead>

  <tbody>
  <tr ng-repeat="person in people | orderBy:predicate:reverse">
    <td class="name">{{person.first}} {{person.last}}</td>
    <td class="SSN">{{person.ssn}}</td>
    <td class="DOB">{{person.birthDate | date}}</td>
    <td class="gender">{{person.gender | gender}}</td>
  </tr>
  </tbody>
          </table>
        </div>
      </div>
    </div>

    <pre id="debug" ng-show="debug">{{debug}}</pre>
  </div>

</div>
</body>
</html>
