<div ng-controller="EditCtrl">
  <div class="row">
    <div class="col-sm-4">
      <form role="form" name="editForm"
            ng-submit="save(editForm.$valid)" novalidate>
        <!-- Bootstrap-compliant form -->
        <div class="form-group"
             ng-class="{'has-error': editForm.first.$invalid && editForm.first.$dirty}">
          <!-- start-excerpt first-name -->
          <label for="first">First name</label>
          <input type="text" ng-model="editingPerson.first" name="first"
                 id="first" class="form-control" placeholder="First name"
                 ng-required="true" ng-minlength="2"/>
          <span ng-show="editForm.first.$error.required && !editForm.first.$pristine"
                class="help-block">First name is required.</span>
          <span ng-show="editForm.first.$error.minlength && !editForm.first.$pristine"
                class="help-block">First name must be at least 2 characters.</span>
          <!-- end-excerpt first-name -->
        </div>
        <div class="form-group"
             ng-class="{'has-error': editForm.last.$invalid && editForm.last.$dirty}">
          <label for="last">Last name</label>
          <input type="text" ng-model="editingPerson.last" name="last"
                 id="last" class="form-control" placeholder="Last name"
                 ng-required="true" ng-minlength="2"/>
          <span ng-show="editForm.last.$error.required && !editForm.last.$pristine"
                class="help-block">Last name is required.</span>
          <span ng-show="editForm.last.$error.minlength"
                class="help-block">Last name must be at least 2 characters.</span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': editForm.ssn.$invalid && editForm.ssn.$dirty}">

          <label for="ssn">SSN</label>
          <input type="text" ng-model="editingPerson.ssn" name="ssn" id="ssn"
                 class="form-control" placeholder="SSN"
                 ng-pattern="/^\d{3}-\d{2}-\d{4}$/"
                 ng-required="true"/>
          <span ng-show="editForm.ssn.$error.required && !editForm.ssn.$pristine"
                class="help-block">SSN is required.</span>
          <span ng-show="editForm.ssn.$error.pattern && !editForm.ssn.$pristine"
                class="help-block">SSN must be of the form nnn-nn-nnnn.</span>
        </div>
        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <ps-datepicker id="birthDate" ng-model="editingPerson.birthDate">
          </ps-datepicker>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select ng-model="editingPerson.gender" id="gender"
                  ng-options="value as label for (value, label) in genders">
          </select>
        </div>
        <div>
          <button class="btn btn-primary" type="submit"
                  ng-disabled="editForm.$invalid || editForm.$pristine">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
