<!doctype html>
<html ng-app="peopleApp" ng-cloak>
<head>
  <title>People Server</title>
  <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />

  <script src="../servervar.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="../node_modules/angular/angular.min.js" type="text/javascript"></script>
  <script src="../node_modules/angular-route/angular-route.min.js" type="text/javascript"></script>
  <script src="../node_modules/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>

  <script src="../node_modules/angular-strap/dist/angular-strap.min.js" type="text/javascript"></script>
  <script src="../node_modules/angular-strap/dist/angular-strap.tpl.min.js" type="text/javascript"></script>
  <script src="./add-ons/ps-datepicker.js" type="text/javascript"></script>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="./javascript/ui.js" type="text/javascript"></script>
  <script src="./javascript/util.js" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="../stylesheets/style.css"/>
</head>

<body>

  <div id="content" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>People Server, version v2</h1>
      </div>

      <div class="logo">
        <img src="../images/people.png">
      </div>
    </div>

    <!-- start-excerpt errors -->
    <message-box type="danger" icon="ban-circle" ng-model="error"></message-box>

    <!-- start-excerpt warning -->
    <message-box type="warning" icon="warning-sign" ng-model="warning"></message-box>

    <!-- start-excerpt ng-view -->
    <div ng-view></div>
    <!-- end-excerpt ng-view -->

    <pre id="debug" ng-show="debug">{{debug}}</pre>
  </div> <!-- content -->

  <div class="modal fade" ng-controller="AlertCtrl" id="alert-modal"
       data-backdrop="static" data-show="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body">
          <p>{{ modalAlert }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeModal()">
            OK
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</body>
</html>

